@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .list-scroll {
    @apply flex snap-x snap-mandatory gap-4 overflow-y-hidden overflow-x-scroll scrollbar-thin scrollbar-track-[#0f172a] scrollbar-thumb-[#b5cdf5];
  }
  .list-grid {
    @apply flex flex-wrap justify-center gap-3;
  }
  .hero-button {
    @apply mr-2 inline-flex max-w-fit cursor-pointer items-center gap-2 rounded-2xl border-2 border-[#b5cdf5] bg-[#b5cdf5] px-6 py-2 font-bold text-[#1e293b] hover:bg-[#38bdf8] hover:transition-all;
  }
  .active-genre {
    @apply bg-sky-700;
  }
  .carouselPrevBtn {
    @apply absolute left-[0px] bottom-[50%] z-20 flex h-[40px] w-[40px] cursor-pointer items-center justify-center rounded-full border-2 border-slate-200 bg-slate-700 px-2 text-2xl font-bold text-slate-200 hover:border-[#38bdf8] hover:text-[#38bdf8];
  }
  .carouselNextBtn {
    @apply absolute right-[35px] bottom-[50%] flex h-[40px] w-[40px] cursor-pointer items-center justify-center rounded-full border-2 border-slate-200 bg-slate-700 px-2 text-2xl font-bold text-slate-200 hover:border-[#38bdf8] hover:text-[#38bdf8];
  }
  .input-search {
    @apply h-[35px] rounded-[10px] bg-[#203048] text-sm text-[#b5cdf5] outline-none transition-all duration-500;
  }
  .btn-search {
    @apply h-[33px] w-[70px] translate-x-[-70px] cursor-pointer rounded-[10px] border border-slate-500 bg-[#203048] py-2 text-center text-sm leading-none text-[#b5cdf5] transition-all duration-500 hover:bg-[#0f172a];
  }
  .icon-search {
    @apply h-[32px] w-[34px]  cursor-pointer rounded-full border border-slate-500 bg-[#203048] px-2 py-1 text-[#b5cdf5] transition-all duration-1000;
  }
  .hero-modal {
    @apply fixed top-0 left-0 flex h-[100%] w-[100%] flex-col items-center justify-center bg-[rgba(0,0,0,0.7)];
  }
  .hero-close-modal {
    @apply mt-4 rounded-full border bg-[#1e293b] px-4 py-2 text-[#b5cdf5] hover:bg-[#303e54];
  }
  .video-modal {
    @apply fixed top-0 left-0 flex h-[100%] w-[100%] flex-col items-center justify-center bg-[rgba(0,0,0,0.7)];
  }
  .cast-card {
    @apply mb-5 inline-block h-[275px] w-[140px] min-w-[140px] rounded-xl border border-slate-100 text-xs;
  }
  .go-back-btn {
    @apply px-8 font-bold text-[#f5b5df] hover:text-[#38bdf8];
  }
  /* mx-auto rounded-xl border */
  .movie-card-link {
    @apply relative inline-flex h-[260px] w-[172px] flex-col items-center justify-center  text-white shadow-info-50 transition delay-300 duration-200 ease-in-out;
  }
  .footer {
    @apply mt-20 border-t-2 border-t-[#1e293b] bg-[#151f36] py-16 px-4 text-gray-300;
  }
  .footer-container {
    @apply mx-auto flex max-w-[1192px] flex-wrap items-center justify-between px-5;
  }
}

/* translate-x-8 */

body {
  background-color: #0f172a;
  padding: 0;
  margin: 0;
}
*:disabled {
  background-color: #696969;
  color: linen;
  opacity: 1;
}
.gallery {
  position: relative;
  overflow: hidden;
}

.alice-carousel__wrapper .alice-carousel__stage-item:hover {
  position: relative;
  z-index: 5;
}

/* set a high z-index for all items to ensure they're visible */
.alice-carousel__wrapper .alice-carousel__stage-item a img {
  position: relative;
  z-index: -1;
}

/* remove the overflow:hidden style from the carousel */
.alice-carousel__wrapper {
  overflow: visible !important;
}

.alice-carousel__stage {
  padding-left: 50%;
  padding-right: 50%;
}
