@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .list-scroll {
        @apply flex snap-x snap-mandatory gap-4 overflow-y-hidden overflow-x-scroll scrollbar-thin scrollbar-track-[#0f172a] scrollbar-thumb-[#b5cdf5];
    }
    .list-grid {
        @apply flex flex-wrap justify-center gap-3;
    }
    .hero-button {
        @apply mr-2 inline-block max-w-fit cursor-pointer rounded border border-[#b5cdf5] px-8 py-2 font-bold text-[#b4c6ef] hover:bg-[#b5cdf5] hover:text-[#1e293b] hover:transition-all;
    }
    .active-genre {
        @apply bg-sky-700;
    }
    .carouselPrevBtn {
        @apply absolute left-[-50px] bottom-[50%] cursor-pointer rounded-full border border-slate-700 px-2 text-slate-700 hover:border-slate-200 hover:text-slate-200;
    }
    .carouselNextBtn {
      @apply absolute right-[0px] bottom-[50%] cursor-pointer rounded-full border border-slate-700 px-2 text-slate-700 hover:border-slate-200 hover:text-slate-200;
    }
}

body {
    background-color: #0f172a;
    padding: 0;
    margin: 0;
}
/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
